/* Auth Component Styles */
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.auth-container h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.auth-container button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    text-align: center;
}

.auth-container button:hover {
    background-color: #357ae8;
}
.auth-container div >button{
    justify-content: center;
}